{% extends 'microblog/base.html' %}

{% block body_block %}

<div class="container-fluid stream">
	<div class="row">
		<div class="col-md-6 col-md-offset-1">
			{% if followers_list %}
				{% for person in followers_list %}
					<p><strong>{{ person.user.get_full_name }}</strong><br>@{{ person.user.username }}</p>
				{% endfor %}
			{% else %}
				<p>Nobody is currently following you.</p>
			{% endif %}
		</div><!-- col-md-6 -->
		{% include "microblog/sidebar.html" %}			
	</div><!-- /row -->
</div><!-- /container stream -->

{% endblock %}