{% extends 'microblog/base.html' %}

{% block body_block %}

<div class="container-fluid stream">
	<div class="row">
		<div class="col-md-6 col-md-offset-1">
			{% if posts %}
				{% for post in posts %}
					<p><strong>{{ post.author.get_full_name }}</strong> @{{ post.author.username }} - <em>{{ post.pub_date|timesince }}</em><br>{{ post.body }}</p>
				{% endfor %}
			{% else %}
				<p>There are no posts to display.</p>
			{% endif %}
		</div><!-- col-md-6 -->
		{% include "microblog/sidebar.html" %}			
	</div><!-- /row -->
</div><!-- /container stream -->

{% endblock %}