{% extends 'microblog/base.html' %}

{% block body_block %}

<div class="container">
	
	<form class="form-signin" role="form" id="login_form" method="post" action="/login/">

		<h2 class="form-signin-heading">Please sign in</h2>
		{% csrf_token %}

		Username: <input type="text" class="form-control" placeholder="Username" name="username" size="50" autofocus />
        <br />
        Password: <input type="password" class="form-control" placeholder="Password" name="password" size="50"  />
        <br />
        <button class="btn btn-primary btn-lg btn-block" type="submit">Sign in</button>
	</form>
	<p class="text-center">If you do not have an account, you can <a href="{% url 'register' %}">register here</a>.</p>
</div> <!-- /container -->

{% endblock %}


