{% extends 'microblog/base.html' %}

{% block body_block %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<div class="well well-lg">
				
			</div>
		</div><!-- /col-md-3 -->
		<div class="col-md-6">
			<div class="jumbotron">
				<h2>{{target_user.get_full_name }}</h2>
				<h4>{{ target_user.username }}</h4>
				<p>Email: {{ target_user.email }}</p>
				{% if own_profile == True %}
					<a href="#" class="btn btn-primary">Edit Profile</a>
				{% else %}
					<a href="{% url 'follow' target_user.username %}" class="btn btn-primary">Follow</a>
				{% endif %}
			</div>
		</div><!-- /col-md-6 -->
		<div class="col-md-3">
			<div class="well well-lg">
				<div class="list-group">
					<a href="{% url 'add_post' %}" class="list-group-item">Share your Two-Cents</a>
					<a href="#" class="list-group-item">Followers</a>
					<a href="#" class="list-group-item">Following</a>
				</div>
			</div>
		</div><!-- /col-md-3 -->
	</div><!-- /row -->
</div><!-- /container -->

<div class="container-fluid stream">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			{% if posts %}
				{% for post in posts %}
					<p><strong>{{ post.author.get_full_name }}</strong> @{{ post.author.username }} - {{ post.pub_date|timesince }}<br>{{ post.body }}</p>
				{% endfor %}
			{% else %}
				<p>There are no posts to display.</p>
			{% endif %}
		</div><!-- col-md-6 -->				
	</div><!-- /row -->
</div><!-- /container stream -->
{% endblock %}