{% extends 'microblog/base.html' %}

{% block body_block %}

<div class="container-fluid stream">
	<div class="row">
		<div class="col-md-6 col-md-offset-1">
			<h2>Search Users</h2>
			<br/>

			<form class="form-signin" id="user_form" method="post" action="/user_search/">
				{% csrf_token %}

				<input type="text" size="50" name="query" value="" id="query" />
				<input class="btn btn-primary" type="submit" name="submit" value="Search" />
				<br />
			</form>

			{% if result_list %}
				{% for person in result_list %}
					<p><strong>{{ person.get_full_name }}</strong> - @{{ person.username }}<br /><br />
						<a href="{% url 'follow' person.username %}" class="btn btn-primary">Follow</a></p>
				{% endfor %}
			{% endif %}
		</div><!-- col-md-6 -->
		{% include "microblog/sidebar.html" %}			
	</div><!-- /row -->
</div><!-- /container stream -->

{% endblock %}
%}